{% load app1tags %}

<h1>Latest posts</h1>

{% if head_list %}
    <ul>
    {% for i in head_list %}
    
        <li>
            <a href={% returnNextLink link_iter %} >
                {% returnNext head_iter %}<br>
            </a>
            <p>
                {% returnNext sum_iter %}...
            </p>
        </li>
    
        {% endfor %}
    </ul>
   
    



{% else %}
    <p>The head list couldnt be found or doesnt exist</p>
{% endif %}